# MacOS
.DS_Store

# Large size data
lrdb*
sentences.txt
sentences_tagged.txt

# Python
.pyc
__pycache__/
dist/
build/
*.egg-info/

# Experiments
tmp/
jupyter/config.py
models/S*.pkl
models/M*.pkl

# Jupyter notebook
.ipynb_checkpoints/
